/* page styles */
.ax-hidden {
    visibility: hidden;
    position: absolute;
}

/* carousel styles */
.carousel3d {
    --carousel3d-height: 400px;
    --carousel3d-width: 1000px;
    --carousel3d-item-height: 150px;
    --carousel3d-item-width: 150px;
    width: 100%;
}

.carousel3d-container {
    align-items: center;
    display: flex;
    margin: 0 auto;
    height: 50vw;
    max-height: 50vh;
    width: 100%;
    position: relative;
}

.carousel3d-item {
    height: 80%;
    width: 33%;
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel3d-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.carousel3d-item-1 {
    left: 20%;
    opacity: 0.7;
    height: 60%;
    width: 20%;
    z-index: 1;
}

.carousel3d-item-2 {
    left: 50%;
    opacity: 1;
    z-index: 2;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
}

.carousel3d-item-3 {
    left: 80%;
    opacity: 0.7;
    height: 60%;
    width: 20%;
    z-index: 1;
}

.carousel3d-controls {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

/* carousel3d button styles */
.carousel3d-control {
    background-color: transparent;
    border: 2px solid;
    border-radius: 4px;
    color: #aaa;
    cursor: pointer;
    position: relative;
    transition: transform 0.5s ease-out;
    height: 30px;
    width: 30px;
}
.carousel3d-control:hover {
    transform: scale(0.85);
}

/* previous button */
.carousel3d-control-previous::after {
    box-sizing: border-box;
    content: '';
    display: block;
    height: 16px;
    position: absolute;
    top: 5px;
    right: 10px;
    width: 0;
    border-bottom: 8px solid transparent;
    border-right: 9px solid;
    border-top: 8px solid transparent;
}

/* next button */
.carousel3d-control-next::after {
    box-sizing: border-box;
    content: "";
    display: block;
    height: 16px;
    position: absolute;
    top: 5px;
    left: 10px;
    width: 0;
    border-bottom: 8px solid transparent;
    border-left: 9px solid;
    border-top: 8px solid transparent;
}

/* play button */
.carousel3d-control-play::before {
    box-sizing: border-box;
    content: "";
    display: block;
    height: 16px;
    position: absolute;
    top: 5px;
    left: 7px;
    width: 2px;
    background: currentColor;
    border-radius: 2px;
}
.carousel3d-control-play::after {
    box-sizing: border-box;
    content: "";
    display: block;
    height: 16px;
    position: absolute;
    top: 5px;
    left: 12px;
    width: 0;
    border-bottom: 8px solid transparent;
    border-left: 9px solid;
    border-top: 8px solid transparent;
}

/* pause button */
.carousel3d-control-play.playing::before {
    left: 10px;
}
.carousel3d-control-play.playing::after {
    left: 14px;
    width: 2px;
    background: currentColor;
    border-radius: 2px;
    border-bottom: 0;
    border-left: 0;
    border-top: 0;
}
